.catalog {
  display: grid;
  gap: 48px;
  place-content: center;

  &__card {
    display: grid;
    place-items: center;
    width: $cell-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $cell-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $cell-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $cell-width);
  }
}
